version: '3'
services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: DB_USER
      POSTGRES_PASSWORD: DB_PASSWORD
      POSTGRES_DB: DB_NAME
    ports:
      - DB_PORT
  redis:
    image: redis:latest
    ports:
      - "6379:6379"